.grid {
  display: grid;
  height: 100vh;
  place-items: center;
}

h2,
p {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}