@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.grid {
  display: grid;
  height: 100vh;
  place-items: center;
}

.grid>div {
  margin-bottom: 150px;
}

* {
  box-sizing: border-box;
  font-family: 'Sriracha', cursive;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* disabling scrollbar */
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden
  }

  .grid>div {
    margin-bottom: 180px;
  }
}